<h3>Enter a word or phrase</h3>
<form  action='/result'>
  <div class="form-group">
    <label for="anagram">Enter a word!</label>
    <input id="anagram" name="anagram" type="text">
  </div>
  <div class="form-group">
    <label for="anagram2">Enter another word</label>
    <input id="anagram2" name="anagram2" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Go!</button>
