<h3>Enter a word! See what happens...</h3>
<form  action='/result'>
  <div class="form-group">
    <label for="sentence">Enter a word!</label>
    <input id="sentence" name="sentence" type="text">
  </div>
  <div class="form-group">
    <label for="find">Enter another word</label>
    <input id="find" name="find" type="text">
  </div>
  <button type="submit" class="btn bg-primary">Replace</button>
